.app {
  .app__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 6px solid #db7f7f;
    margin-bottom: 5rem;

    .app__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      &--img {
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
  .app__body {
    margin: 0 10%;
  }
}
